<meta name="robots" content="noindex">
<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold text-center mb-4">{{ 'user_searches.title' | translate }}</h1>
  <div class="bg-gray-800 border border-gray-700 text-white p-4 rounded-xl mb-4">
    <h2 class="text-xl font-semibold mb-2">{{ 'user_alerts.instructions.title' | translate }}</h2>
    <ol class="list-decimal list-inside mb-2 space-y-1">
      <li>
        {{ 'user_alerts.instructions.step_1' | translate }}
        <a href="https://altertracker.com/join-discord" target="_blank" class="text-blue-400 hover:underline">
          {{ 'user_alerts.instructions.step_1_link' | translate }}
        </a>
      </li>
      <li>
        {{ 'user_alerts.instructions.step_2' | translate }}
        <a href="https://altertracker.com/me" target="_blank" class="text-blue-400 hover:underline">
          {{ 'user_alerts.instructions.step_2_link' | translate }}
        </a>
      </li>
      <li>
        {{ 'user_alerts.instructions.step_3' | translate }}
      </li>
    </ol>
  </div>
  <!-- Gestion du chargement -->
  @if (isLoading) {
    <div class="text-center text-gray-400">
      <i class="fas fa-spinner fa-spin text-2xl"></i>
      <p>{{ 'user_searches.is_loading' | translate }}</p>
    </div>
  }

  <!-- Liste des recherches -->
  @if (!isLoading && searches.length > 0) {
    <div class="space-y-4">
      <ul class="space-y-2">
        @for (search of searches; track search) {
          <li class="bg-gray-700 p-4 rounded-lg shadow-md">
            <div class="flex justify-between items-center">
              <div>
                <h4 class="text-white font-medium cursor-pointer" (click)="goSearch(search.url_search)">{{
                search.name_search }}</h4>
                <p class="text-sm text-gray-400 break-all cursor-pointer" (click)="goSearch(search.url_search)">{{
                search.url_search }}</p>
                <p class="text-xs text-gray-500">
                  {{ 'cards.create_at' | translate }} : {{ search.created_at | date:'short' }}
                </p>
                <button (click)="deleteSearch(search.id)"
                  class="text-red-600 hover:text-red-700 text-white py-2 rounded-md transition duration-300">
                  {{ 'user_searches.delete' | translate }}
                </button>
              </div>
              <div class="flex space-x-2 px-4">
                <button (click)="goSearch(search.url_search)"
                  class="bg-gray-600 hover:bg-amber-500 text-white py-1 px-3 rounded-md transition duration-300">
                  <i class="fas fa-search"></i>
                </button>
                <button (click)="toggleFavorite(search)" class="text-gray-400 hover:text-red-500 transition relative group">
                  <i [class]="search.active_favorite ?  'fas fa-heart text-red-500 text-lg' : 'far fa-heart text-lg'"></i>
                  <div
                    class="absolute bottom-full mb-2 left-1/2 transform -translate-x-1/2 bg-gray-900 text-white text-xs rounded-lg px-3 py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none shadow-lg w-64 sm:w-80 max-w-xs sm:max-w-sm">
                    <div class="text-center leading-relaxed">
                      <div class="text-xs opacity-90">
                        {{ 'user_searches.popover_favorite_1' | translate }}
                      </div>
                      <div class="text-xs opacity-75 mt-1">
                        {{ 'user_searches.popover_favorite_2' | translate }}
                      </div>
                    </div>
                    <div
                      class="absolute top-full left-1/2 transform -translate-x-1/2 w-0 h-0 border-l-4 border-r-4 border-t-4 border-transparent border-t-gray-900">
                    </div>
                  </div>
                </button>
                <button (click)="toggleSearchNotifications(search)"
                  class="text-gray-400 hover:text-green-500 transition relative group">
                  <i
                  [class]="search.active_notification ? 'fa-brands fa-discord text-green-500 text-lg' : 'fa-brands fa-discord text-lg'"></i>
                  <div
                    class="absolute bottom-full mb-2 left-1/2 transform -translate-x-1/2 bg-gray-900 text-white text-xs rounded-lg px-3 py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none shadow-lg w-64 sm:w-80 max-w-xs sm:max-w-sm">
                    <div class="text-center leading-relaxed">
                      <div class="text-xs opacity-90">
                        {{ 'user_searches.popover_new_card_notification' | translate }}
                      </div>
                    </div>
                    <div
                      class="absolute top-full left-1/2 transform -translate-x-1/2 w-0 h-0 border-l-4 border-r-4 border-t-4 border-transparent border-t-gray-900">
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </li>
        }
      </ul>
    </div>
  }

  <!-- Message si aucune recherche -->
  @if (!isLoading && searches.length === 0) {
    <div class="text-center text-gray-400">
      <p>{{ 'user_searches.no_searches' | translate }}</p>
    </div>
  }
</div>