<div class="py-20 flex items-center justify-center bg-gray-900">
  <div class="bg-gray-800 text-white rounded-lg shadow-lg p-8 w-full max-w-md">
    <h2 class="text-2xl font-bold text-center mb-6">{{ 'authentication.login' | translate }}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium mb-2">{{ 'authentication.email' | translate }}</label>
        <input type="email" id="email" formControlName="email"
          class="w-full px-4 py-2 rounded-lg bg-gray-700 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-amber-500"
          placeholder="E-mail" required />
      </div>

      <!-- Mot de passe -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium mb-2">{{ 'authentication.password' | translate }}</label>
        <input type="password" id="password" formControlName="password"
          class="w-full px-4 py-2 rounded-lg bg-gray-700 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-amber-500"
          placeholder="Password" required />
      </div>

      <!-- Bouton de connexion -->
      <button type="submit"
        class="w-full bg-amber-500 hover:bg-amber-600 text-white font-medium py-2 px-4 rounded-lg transition duration-300">
        {{ 'authentication.login_action_2' | translate }}
      </button>

      <!-- Lien mot de passe oublié -->
      <div class="text-center mt-4">
        <a routerLink="/forgot-password" class="text-sm text-amber-400 hover:underline cursor-pointer">
          {{ 'authentication.forgot_password' | translate }}
        </a>
      </div>
    </form>

    <!-- Lien inscription -->
    <div class="text-center mt-6">
      <p class="text-sm">
        {{ 'authentication.not_registered' | translate }}
        <a routerLink="/register" class="text-amber-400 hover:underline cursor-pointer">
          {{ 'authentication.register_action_2' | translate }}
        </a>
      </p>
    </div>
  </div>
</div>