<div class="bg-gray-700 pr-4 rounded-lg shadow-md flex flex-col md:flex-row">
  <img [src]="card.imagePath" [alt]="card.name" loading="lazy"
    class="max-w-full max-h-64 object-contain rounded-md mb-4 md:mb-0 md:mr-4">
  <div class="flex flex-col justify-center">
    <div class="flex items-center mb-2">
      <p class="text-gray-300 mr-2">Offre :</p>
      <button (click)="refreshPrice()" class="text-blue-500 hover:text-blue-700 transition duration-300">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
    <p class="text-gray-300 mb-2">Effet: {{ card.MAIN_EFFECT }}</p>
  </div>
</div>

<!-- Modal pour afficher l'image en grand
<div id="imageModal" [class.hidden]="!isModalOpen" class="modal">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" [src]="modalImageSrc">
</div> -->