<footer class="bg-gray-900 text-white py-6">
  <div class="container mx-auto px-4">
    <div class="flex justify-center">
      <img src="assets/img/LOGO_ALTERED_WHITE_WATERMARK.png" alt="Logo" class="h-10">
    </div>
    <p class="text-center mt-4">{{
      'footer.copyright' | translate }}<br /><a href="https://altered.gg" target="_blank">Altered
        TCG</a>&nbsp;{{
      'footer.altered_tcg' | translate }}</p>
    <div class="flex justify-center mt-4">
      <a href="https://www.buymeacoffee.com/necsus_dev" target="_blank">
        <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me a Coffee"
          style="height: 50px;">
      </a>
    </div>
  </div>
  <a href="https://discord.gg/rrEsj3KApN" target="_blank" class="flex justify-center items-center mt-4 space-x-2">
    <i class="fa-brands fa-discord text-lg"></i>
    <span>AlterTracker&nbsp;<i class="fas fa-up-right-from-square text-xs"></i></span>
  </a>
  <div class="flex justify-center items-center mt-4 space-x-2 text-amber-400">
    <a href="/policy" class="hover:text-amber-500">Informations Légales</a>
    <span class="mx-2 text-white">-</span>
    <a href="/cookies" class="hover:text-amber-500">Gestion Cookies</a>
    <span class="mx-2 text-white">-</span>
    <a href="/contact" class="hover:text-amber-500">Contact</a>
  </div>
</footer>