<footer class="bg-gray-900 text-white py-6">
  <div class="container mx-auto px-4">
    <div class="flex justify-center">
      <img src="assets/img/LOGO_ALTERED_WHITE_WATERMARK.png" alt="Logo" class="h-10">
    </div>
    <p class="text-center mt-4">© 2025 AlterTracker est un contenu non officiel créé par un fan
      d'Altered.<br /><a href="https://altered.gg" target="_blank">Altered
        TCG</a>&nbsp;est la propriété d'Equinox.</p>
    <div class="flex justify-center items-center mt-4 space-x-2">
      <i class="fa-brands fa-discord text-lg"></i>
      <span>necsus_dev</span>
    </div>
  </div>
</footer>