<div class="bg-gray-700 pr-4 rounded-lg shadow-md flex flex-col md:flex-row relative">
  <a routerLink="/stats/{{card.reference}}"
    class="absolute top-2 right-8 text-gray-400 hover:text-blue-500 transition duration-300">
    <i class="fas fa-chart-bar"></i>
  </a>
  @if (isLoggedIn) {
  <button (click)="toggleFavorite()"
    class="absolute top-2 right-2 text-gray-400 hover:text-red-500 transition duration-300">
    <i [class]="is_favorite ? 'fas fa-heart text-red-500' : 'far fa-heart'"></i>
  </button>
  }
  <img (click)="openModal()" [src]="card.imagePath" [alt]="card.name"
    onerror="this.onerror=null; this.src='/assets/img/cardback.webp';" loading="lazy"
    class="max-w-full max-h-64 object-contain rounded-md mb-4 md:mb-0 md:mr-4 cursor-pointer">
  <div class="flex flex-col justify-center">
    <div class="flex items-center py-2">
      <a href="https://altered.gg/fr-fr/cards/{{card.reference}}" target="_blank"
        class="text-xs text-blue-400 underline hover:text-blue-300">{{
        card.reference }}&nbsp;<i class="fas fa-up-right-from-square text-xs"></i></a>
    </div>
    <div class="flex items-center py-2">
      @if (card.price) {
      <p class="text-gray-300 mr-2" title="{{card.price_updated_at}}">Market :
        {{card.price}}{{card.price?card.price_currency:''}}</p>
      <button (click)="goToOffer()" class="text-blue-500 hover:text-blue-700 transition duration-300">
        <i class="fas fa-external-link-alt"></i>
      </button>
      }
    </div>
    <p class="text-gray-300 mb-2">{{ card.MAIN_EFFECT }}</p>
  </div>
</div>