<div class="space-y-4">
  <!-- Group -->
  <div class="bg-gray-800 p-4 rounded-lg shadow-lg relative">
    <button (click)="toggleGroup()"
      class="w-full text-left text-2xl font-semibold mb-4 focus:outline-none cursor-pointer">{{
      groupName }} ({{ cards.length }})@if (onlyCardsWithPrice) {
      <span>&nbsp;{{ 'cards.in_market' | translate
        }}&nbsp;({{ visibleCards.length
        }})</span>
      }</button>
    @if (isGroupOpen) {
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
      @for (card of visibleCards | slice:0:displayedCards; track card) {
      <app-card [card]="card"></app-card>
      }
    </div>
    @if (cards.length > displayedCards) {
    <button (click)="loadMore()"
      class="bg-amber-600 hover:bg-amber-700 w-full text-white py-2 px-4 rounded-md transition duration-300 mt-4 flex items-center justify-center">
      {{ 'cards.load_more' | translate }}
    </button>
    }
    }
  </div>
</div>