<meta name="robots" content="noindex">
<div class="container mx-auto p-6 text-white">
  <div class="bg-gray-800 p-6 rounded-2xl shadow-md">
    <h2 class="text-2xl font-bold mb-4">{{ 'me.title' | translate }}</h2>

    <form (ngSubmit)="updateProfile()" #profileForm="ngForm">
      <div class="mb-4">
        <label class="block mb-1">{{ 'me.pseudo' | translate }}</label>
        <input type="text" [(ngModel)]="username" name="username" class="w-full p-2 bg-gray-700 rounded" required />
      </div>

      <button type="submit" class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded">{{ 'me.save' | translate }}</button>
    </form>

    <hr class="my-6 border-gray-600" />
    <button (click)="linkDiscord()" [ngClass]="{
      'bg-gray-500 cursor-not-allowed rounded-l-lg': discordLinked || loadingDiscord,
      'btn-discord rounded-lg': !discordLinked
    }" [disabled]="discordLinked || loadingDiscord" class="inline-flex items-center gap-2 px-4 py-2 font-semibold transition-all shadow-md
      text-white disabled:bg-gray-400 disabled:cursor-not-allowed">
      @if (loadingDiscord) {
      <i class="fas fa-spinner animate-spin text-xl"></i>
      {{ 'me.discord_connecting' | translate }}
      } @else {
      <i class="fab fa-discord text-xl"></i>
      {{ discordLinked ? ('me.discord_linked' | translate) : ('me.link_discord' | translate) }}
      }

    </button>

    @if (discordLinked) {
    <button (click)="unlinkDiscord()" class="inline-flex items-center gap-2 px-4 py-2 rounded-r-lg font-semibold transition-all shadow-md
          text-white
          bg-red-600 hover:bg-red-700
          disabled:bg-gray-400 disabled:cursor-not-allowed">
      <i class="fas fa-unlink text-xl"></i>
    </button>

    <button (click)="testDiscordMessage()" class="bg-blue-600 hover:bg-blue-700 ml-4 px-4 py-2 rounded">
      {{ 'me.discord_test_message' | translate }}
    </button>
    }

    <hr class="my-6 border-gray-600" />

    <form (ngSubmit)="changePassword()">
      <h3 class="text-xl font-semibold mb-2">{{ 'me.change_password_title' | translate }}</h3>
      <div class="mb-2">
        <label class="block mb-1">{{ 'me.old_password' | translate }}</label>
        <input type="password" [(ngModel)]="oldPassword" name="oldPassword" class="w-full p-2 bg-gray-700 rounded"
          required />
      </div>

      <div class="mb-2">
        <label class="block mb-1">{{ 'me.new_password' | translate }}</label>
        <input type="password" [(ngModel)]="newPassword" name="newPassword" class="w-full p-2 bg-gray-700 rounded"
          required />
      </div>

      <button type="submit" class="bg-green-600 hover:bg-green-700 px-4 py-2 rounded">{{ 'me.change_password' |
        translate }}</button>
    </form>

    <hr class="my-6 border-gray-600" />

    <div>
      <h3 class="text-xl font-semibold mb-2 text-red-400">{{ 'me.delete_account_title' | translate }}</h3>
      <p class="mb-4">{{ 'me.delete_account_warning' | translate }}</p>
      <div class="mb-2">
        <label class="block mb-1">{{ 'me.delete_account_password' | translate }}</label>
        <input type="password" [(ngModel)]="passwordForDelete" name="passwordForDelete"
          class="w-full p-2 bg-gray-700 rounded" required />
      </div>
      <div class="mb-2">
        <label style="user-select: none;" class="block mb-1">
          {{ 'me.delete_account_confirm_label' | translate }}&nbsp;<strong>"Oui je
            veux
            supprimer mon compte"</strong></label>
        <input type="text" [(ngModel)]="yesIWantToDelete" name="yesIWantToDelete" class="w-full p-2 bg-gray-700 rounded"
          required />
      </div>
      <button (click)="deleteAccount()"
        [ngClass]="{'bg-gray-500 cursor-not-allowed': !validateDeleteAccount, 'bg-red-600 hover:bg-red-700': validateDeleteAccount}"
        class="px-4 py-2 rounded" [disabled]="!validateDeleteAccount">
        {{ 'me.delete_account_button' | translate }}
      </button>
    </div>
  </div>
</div>