<div class="py-32 flex items-center justify-center bg-gray-900 text-gray-100 px-4">
  <div class="bg-gray-800 shadow-xl rounded-2xl p-8 text-center max-w-md w-full">
    <ng-container [ngSwitch]="status">

      <!-- En cours -->
      <div *ngSwitchCase="'loading'">
        <div class="animate-spin h-10 w-10 border-4 border-blue-500 border-t-transparent rounded-full mx-auto mb-4">
        </div>
        <h2 class="text-xl font-semibold">Confirmation en cours...</h2>
        <p class="text-gray-400 mt-2">Veuillez patienter.</p>
      </div>

      <!-- Succès -->
      <div *ngSwitchCase="'success'">
        <div class="text-green-400 mb-4">
          <svg class="w-16 h-16 mx-auto" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
        </div>
        <h2 class="text-2xl font-bold">Email confirmé !</h2>
        <p class="text-gray-300 mt-2">Votre adresse a été vérifiée avec succès.</p>
        <a routerLink="/login"
          class="mt-6 inline-block px-4 py-2 bg-blue-600 text-white rounded-xl hover:bg-blue-700 transition cursor-pointer">Se
          connecter</a>
      </div>

      <!-- Erreur -->
      <div *ngSwitchCase="'error'">
        <div class="text-red-500 mb-4">
          <svg class="w-16 h-16 mx-auto" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
        <h2 class="text-2xl font-bold">Échec de confirmation</h2>
        <p class="text-gray-400 mt-2">Le lien est invalide ou a expiré.</p>
        <a (click)="resendEmail()"
          class="mt-6 inline-block px-4 py-2 bg-red-600 text-white rounded-xl hover:bg-red-700 transition cursor-pointer">Renvoyer
          le
          lien</a>
      </div>

      <!-- Erreur -->
      <div *ngSwitchCase="'noresend'">
        <div class="text-red-500 mb-4">
          <svg class="w-16 h-16 mx-auto" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
        <h2 class="text-2xl font-bold">Échec de confirmation</h2>
        <p class="text-gray-400 mt-2">Le lien est invalide ou a expiré.</p>
      </div>

    </ng-container>
  </div>
</div>