<div class="max-w-7xl mx-auto space-y-12 p-6 bg-gray-900 text-white space-y-8 font-sans">

  <!-- Top Bar: Search + Button | Language -->
  <div class="flex items-center justify-between gap-4">
    <!-- Search Form -->
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="flex flex-1 relative">
      <div class="relative w-full">
        <input type="text" placeholder="Reference... (ALT_)" formControlName="reference"
          class="w-full bg-gray-800 text-white placeholder-gray-400 rounded-l-lg py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <svg xmlns="http://www.w3.org/2000/svg"
          class="absolute left-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-gray-400" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </div>

      <!-- Search Button -->
      <button type="submit" [disabled]="!isFormValid()"
        [ngClass]="{'bg-gray-500 cursor-not-allowed': !isFormValid(), 'bg-blue-600 hover:bg-blue-700': isFormValid()}"
        class="text-white px-4 rounded-r-lg transition">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>

  <!-- Title centered below -->
  <div *ngIf="card" class="mt-6 text-center">
    <h1 class="text-3xl md:text-4xl font-extrabold">{{ card | localizedValue:'name_en':'name' }}</h1>
  </div>
  @if (card) {
  <div class="flex flex-col md:flex-row gap-6">
    <!-- Left: Image & Actions -->
    <div class="md:w-1/3 rounded-2xl">
      <img [src]="card | localizedValue:'image_path_en':'imagePath'"
        onerror="this.onerror=null; this.src='/assets/img/cardback.webp';" alt="Card"
        class="rounded-xl w-full object-cover" />
    </div>

    <div class="md:w-2/3 space-y-6">
      <div class="bg-gray-800 rounded-xl p-4">
        <div class="flex justify-between items-center mb-3">
          <h2 class="text-xl font-semibold">{{ 'stats.title' | translate }}</h2>
          <div class="flex items-center space-x-4">
            <a href="https://altered.gg/{{(currentLanguage === 'fr' ? 'fr-fr/' : '')}}cards/{{card.reference}}"
              target="_blank" class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-lg transition">
              {{ 'stats.view_on_altered' | translate }}&nbsp;<i class="fas fa-up-right-from-square text-xs"></i>
            </a>
            @if (isLoggedIn) {
            <button (click)="toggleFavorite()" class="text-gray-400 hover:text-red-500 transition duration-300">
              <i [class]="is_favorite ? 'fas fa-heart text-red-500' : 'far fa-heart'"></i>
            </button>
            }
          </div>
        </div>
        <ul class="grid grid-cols-2 gap-4 text-sm text-gray-300">
          <li><strong>{{ 'cards.form_rarity' | translate }}:</strong> {{ card.rarity }}</li>
          <li><strong>{{ 'cards.form_set' | translate }}:</strong> {{ card.set }}</li>
          <li *ngIf="card.MAIN_EFFECT"><strong>main effect:</strong><br />{{ card |
            localizedValue:'main_effect_en':'MAIN_EFFECT' }}</li>
          <li *ngIf="card.ECHO_EFFECT"><strong>echo effect:</strong><br />{{ card |
            localizedValue:'echo_effect_en':'ECHO_EFFECT' }}</li>
        </ul>
      </div>

      <!-- Price History Chart (placeholder) -->
      <div class="bg-gray-800 rounded-xl p-4 h-64">
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true"
          [type]="'line'">
        </canvas>
      </div>
    </div>
  </div>

  <!-- Offers Section: Market Offer & User Offers -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <!-- Market Offers -->
    <div class="bg-gray-800 rounded-xl p-4">
      <div class="flex justify-between items-center mb-3">
        <h2 class="text-xl font-semibold">{{ 'stats.market_offers' | translate }}</h2>
        @if (availableInMarket) {
        <a href="https://altered.gg/{{(currentLanguage === 'fr' ? 'fr-fr/' : '')}}cards/{{card.reference}}/offers"
          target="_blank" class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-lg transition">
          {{ 'stats.buy_on_altered' | translate }}&nbsp;<i class="fas fa-up-right-from-square text-xs"></i>
        </a>
        }
      </div>
      @if (offers && offers.length > 0) {
      <ul class="space-y-2 text-sm text-gray-300">
        <li *ngFor="let offer of offers" class="flex justify-between border-b border-gray-700 pb-1">
          <span class="text-gray-400">
            {{ offer.created_at | date:'dd/MM/yyyy HH:mm' }}
          </span>
          <span [ngClass]="{
            'text-green-400': !offer.is_deleted,
            'text-red-400 line-through': offer.is_deleted,
            'font-medium': true
          }">
            {{ offer.price | currency:(offer.currency || ''):'symbol':'1.2-2' }}
          </span>
        </li>
      </ul>
      }
      @else {
      <div class="text-gray-500 text-sm">{{ 'stats.no_market_offers' | translate }}</div>
      }
    </div>

    <!-- User Offers -->
    <div class="bg-gray-800 rounded-xl p-4">
      <div class="flex justify-between items-center mb-3">
        <h2 class="text-xl font-semibold">{{ 'stats.purchase_offers' | translate }}</h2>
        @if (isLoggedIn && !is_mine) {
        <button (click)="openPurchaseOfferModal()"
          class="bg-green-600 hover:bg-green-500 text-white px-4 py-2 rounded-lg transition">
          {{ 'stats.make_offer' | translate }}
        </button>
        }
      </div>
      @if (purchases && purchases.length > 0) {
      <ul class="space-y-2 text-gray-300 text-sm">
        <li *ngFor="let purchase of purchases" class="flex items-center border-b border-gray-700 pb-2">
          <!-- Username and Date -->
          <div class="flex flex-col">
            <span class="font-medium">{{ purchase.username }}</span>
            <span class="text-gray-500 text-xs">{{ purchase.created_at | date:'dd/MM/yyyy HH:mm' }}</span>
          </div>
          <!-- Button -->
          <div class="flex justify-center items-center mx-4" *ngIf="isLoggedIn && is_mine">
            <button (click)="openDiscordMessage()"
              class="inline-flex items-center gap-2 px-4 py-2 rounded-lg btn-discord text-white font-semibold transition-all shadow-md">
              <i class="fab fa-discord text-xl"></i>
              Envoyer un message
            </button>
          </div>
          <!-- Price -->
          <div class="text-green-400 font-semibold text-right flex-grow">
            {{ purchase.price | currency:(purchase.currency || ''):'symbol':'1.2-2' }}
          </div>
        </li>
      </ul>
      }
      @else {
      <div class="text-gray-500 text-sm">{{ 'stats.no_purchase_offer' | translate }}</div>
      }
    </div>
  </div>

  <!-- Similar Cards & Estimation -->
  <!-- <div class="bg-gray-800 rounded-xl p-4">
    <h2 class="text-xl font-semibold mb-4">Similar Cards (under construction)</h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
      <div class="bg-gray-700 rounded-lg p-2">
        <img src="/assets/img/cardback.webp" class="rounded-md w-full mb-2" />
        <div class="text-sm text-gray-300">Random Nam</div>
        <div class="text-sm text-green-400">$82.50</div>
      </div>
      <div class="bg-gray-700 rounded-lg p-2">
        <img src="/assets/img/cardback.webp" class="rounded-md w-full mb-2" />
        <div class="text-sm text-gray-300">Arcane Fire</div>
        <div class="text-sm text-green-400">$74.00</div>
      </div>
      <div class="bg-gray-700 rounded-lg p-2">
        <img src="/assets/img/cardback.webp" class="rounded-md w-full mb-2" />
        <div class="text-sm text-gray-300">Spectral Fury</div>
        <div class="text-sm text-green-400">$65.20</div>
      </div>
      <div class="bg-gray-700 rounded-lg p-2">
        <img src="/assets/img/cardback.webp" class="rounded-md w-full mb-2" />
        <div class="text-sm text-gray-300">Ancient Root</div>
        <div class="text-sm text-green-400">$79.90</div>
      </div>
    </div>
  </div> -->
  }
  @else {
  @if (reference) {
  <div class="mt-6 text-center">
    <h1 class="text-xl md:text-xl font-extrabold">{{ 'stats.no_result' | translate }} {{ reference }}.</h1>
  </div>
  }
  @else {
  <div class="mt-6 text-center">
    <h1 class="text-xl md:text-xl font-extrabold">{{ 'stats.enter_reference' | translate }}
    </h1>
  </div>
  }
  }
</div>