<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="bg-gray-800 p-4 rounded-lg shadow-lg mb-8">
  <h2 class="text-xl font-semibold mb-4">Rechercher des cartes</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div>
      <label for="name" class="block text-sm font-medium text-gray-300">Nom</label>
      <input type="text" id="name" formControlName="name"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="faction" class="block text-sm font-medium text-gray-300">Faction</label>
      <input type="text" id="faction" formControlName="faction"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="set" class="block text-sm font-medium text-gray-300">Set</label>
      <input type="text" id="set" formControlName="set"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="main_effect" class="block text-sm font-medium text-gray-300">Main Effet</label>
      <input type="text" id="main_effect" formControlName="main_effect"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="echo_effect" class="block text-sm font-medium text-gray-300">Echo Effet</label>
      <input type="text" id="echo_effect" formControlName="echo_effect"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="main_cost" class="block text-sm font-medium text-gray-300">Main Cost</label>
      <input type="number" id="main_cost" formControlName="main_cost"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="recall_cost" class="block text-sm font-medium text-gray-300">Recall Cost</label>
      <input type="number" id="recall_cost" formControlName="recall_cost"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <button type="submit" [disabled]="!isFormValid()"
      [ngClass]="{'bg-gray-500 cursor-not-allowed': !isFormValid(), 'bg-blue-600 hover:bg-blue-700': isFormValid()}"
      class="md:col-span-3 w-full text-white py-2 px-4 rounded-md transition duration-300">Rechercher</button>
  </div>
</form>