<header class="bg-gray-800 text-white shadow-lg">
  <div class="container mx-auto px-4 py-4">
    <nav class="flex justify-between items-center">
      <!-- Logo -->
      <div class="flex items-center cursor-pointer" (click)="navigateToHome()">
        <img src="assets/img/test_logo_2.png" alt="Logo" class="h-10 mr-2">
        <div class="text-2xl font-bold" style="user-select: none;">AlterTracker</div>
      </div>

      <!-- Hamburger (mobile) -->
      <button class="sm:hidden flex flex-col items-center justify-center space-y-1 focus:outline-none"
        (click)="isMenuOpen = !isMenuOpen" aria-label="Toggle navigation">
        <!-- Ligne 1 -->
        <span class="w-6 h-0.5 bg-white transition-transform duration-300"
          [ngClass]="{ 'rotate-45 translate-y-1.5': isMenuOpen }"></span>

        <!-- Ligne 2 -->
        <span class="w-6 h-0.5 bg-white transition-opacity duration-300" [ngClass]="{ 'opacity-0': isMenuOpen }"></span>

        <!-- Ligne 3 -->
        <span class="w-6 h-0.5 bg-white transition-transform duration-300"
          [ngClass]="{ '-rotate-45 -translate-y-1.5': isMenuOpen }"></span>
      </button>

      <!-- Menu links -->
      <ul class="hidden sm:flex space-x-6 items-center">
        <li><a routerLink="/" routerLinkActive="text-blue-400" [routerLinkActiveOptions]="{ exact: true }"
            style="user-select: none;" class="hover:text-blue-300 transition duration-300 cursor-pointer">Accueil</a>
        </li>
        <li><a routerLink="/cards" routerLinkActive="text-blue-400" [routerLinkActiveOptions]="{ exact: true }"
            style="user-select: none;" class="hover:text-blue-300 transition duration-300 cursor-pointer">Cartes</a>
        <li><a routerLink="/stats" routerLinkActive="text-blue-400" style=" user-select: none;"
            class="hover:text-blue-300 transition duration-300 cursor-pointer">Stats</a>
        </li>
        <li><a routerLink="/about" routerLinkActive="text-blue-400" style="user-select: none;"
            class="hover:text-blue-300 transition duration-300 cursor-pointer">À propos</a></li>
        <!-- Dropdown for logged-in users -->
        @if (isLoggedIn) {
        <li class="relative">
          <button class="flex items-center space-x-2 hover:text-blue-300 transition duration-300 focus:outline-none"
            (click)="isDropdownOpen = !isDropdownOpen">
            <span>{{ username }}</span>
            <i class="fas fa-chevron-down"></i>
          </button>
          <ul *ngIf="isDropdownOpen" class="absolute right-0 mt-2 w-48 bg-gray-700 text-white rounded-lg shadow-lg z-10"
            (mouseleave)="isDropdownOpen = false">
            @if (isAdmin) {
            <li><a routerLink="/admin" class="block px-4 py-2 hover:bg-gray-600 rounded-t-lg">Admin</a></li>
            }
            <li><a routerLink="/me" class="block px-4 py-2 hover:bg-gray-600 rounded-t-lg">Profil</a></li>
            <li><a routerLink="/token" class="block px-4 py-2 hover:bg-gray-600">Token Altered</a></li>
            <li><a routerLink="/searches" class="block px-4 py-2 hover:bg-gray-600">Mes recherches</a></li>
            <li><a routerLink="/alerts" class="block px-4 py-2 hover:bg-gray-600">Mes alertes</a></li>
            <li><a routerLink="/purchase-offers" class="block px-4 py-2 hover:bg-gray-600">Offres
                d'achat</a>
            </li>
            <li><a (click)="onLogout()"
                class="block px-4 py-2 text-red-300 hover:bg-gray-600 cursor-pointer rounded-b-lg">Logout</a>
            </li>
          </ul>
        </li>
        <li><a routerLink="/contact" routerLinkActive="text-blue-400" style="user-select: none;"
            class="hover:text-blue-300 transition duration-300 cursor-pointer"><i class="fas fa-bug"></i></a></li>
        }
        @else {
        <li><a routerLink="/login" routerLinkActive="text-blue-400"
            class="hover:text-blue-300 transition duration-300 cursor-pointer">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="text-blue-400"
            class="hover:text-blue-300 transition duration-300 cursor-pointer">Inscription</a></li>
        }
      </ul>
    </nav>

    <!-- Mobile menu -->
    @if (isMenuOpen) {
    <div class="sm:hidden mt-4 space-y-4">
      <a routerLink="/" routerLinkActive="text-blue-400" [routerLinkActiveOptions]="{ exact: true }"
        class="block hover:text-blue-300 transition duration-300">Accueil</a>
      <a routerLink="/cards" routerLinkActive="text-blue-400" [routerLinkActiveOptions]="{ exact: true }"
        class="block hover:text-blue-300 transition duration-300">Cartes</a>
      <a routerLink="/stats" routerLinkActive="text-blue-400"
        class="block hover:text-blue-300 transition duration-300">Stats</a>
      @if (isLoggedIn) {
      <a routerLink="/token" routerLinkActive="text-blue-400"
        class="block hover:text-blue-300 transition duration-300">Token Altered</a>
      <a routerLink="/purchase-offers" routerLinkActive="text-blue-400"
        class="block hover:text-blue-300 transition duration-300">Offres d'achat</a>
      <a routerLink="/searches" routerLinkActive="text-blue-400"
        class="block hover:text-blue-300 transition duration-300">Mes recherches</a>
      <a routerLink="/alerts" routerLinkActive="text-blue-400"
        class="block hover:text-blue-300 transition duration-300">Mes alertes</a>
      }
      <a routerLink="/about" routerLinkActive="text-blue-400"
        class="block hover:text-blue-300 transition duration-300">À propos</a>
      @if (isLoggedIn) {

      <a routerLink="/me" routerLinkActive="text-blue-400" class="block hover:text-blue-300 transition duration-300">{{
        username }}</a>
      @if (isAdmin) {
      <a routerLink="/admin" class="block hover:text-blue-300 transition duration-300">Admin</a>
      }
      <a (click)="onLogout()"
        class="block text-red-300 hover:text-red-200 transition duration-300 cursor-pointer">Logout</a>
      <a routerLink="/contact" routerLinkActive="text-blue-400"
        class="block hover:text-blue-300 transition duration-300"><i class="fas fa-bug"></i></a>
      }
      @else {
      <a routerLink="/login" routerLinkActive="text-blue-400"
        class="block hover:text-blue-300 transition duration-300">Login</a>
      <a routerLink="/register" routerLinkActive="text-blue-400"
        class="block hover:text-blue-300 transition duration-300">Inscription</a>
      }
    </div>
    }
  </div>
</header>