header {
  /* Couleur de fond sombre */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Ombre légère */
}

footer {
  /* Couleur de fond sombre */
  padding: 1.5rem 0;
  text-align: center;
}

footer img {
  height: 2.5rem;
  /* Taille de l'image */
}

.card-img-modal {
  display: block;
  margin: auto;
  max-width: 90vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* LOADER */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  /* semi-transparent pour effet de flou */
  z-index: 9999;
  /* très haut pour être au-dessus de tout */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  /* bloque les clics */
  overflow: hidden;
}

.loader-overlay body {
  overflow: hidden;
  /* bloque le scroll */
}

.loader {
  width: 64px;
  height: 64px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3f51b5;
  /* couleur du spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 20px rgba(63, 81, 181, 0.6);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* END LOADER */

/* PAGE EN CONSTRUCTION */
.construction-container {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
}

.construction-image {
  width: 200px;
  margin-bottom: 20px;
}

.construction-h1 {
  font-size: 2em;
  color: #e67e22;
}

.construction-p {
  font-size: 1.2em;
  color: #555;
}

/* END PAGE EN CONSTRUCTION */

.progress-tooltip {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.tooltip {
  background-color: white !important;
  /* Change la couleur de fond en blanc */
  color: black !important;
  /* Change la couleur du texte en noir */
  border: 1px solid #ccc;
  /* Ajoute une bordure grise */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Ajoute une ombre subtile */

}

[title] {
  pointer-events: none;
}

.tooltip-inner {
  font-size: 0.875rem;
  /* Ajuste la taille du texte */
  font-weight: 500;
  /* Rend le texte légèrement plus épais */
  padding-left: 5px;
  padding-right: 5px;
}

.tooltip-arrow {
  border-color: white !important;
  /* Change la couleur de la flèche */
}

.icon-common,
.icon-rare,
.icon-unique,
.icon-axiom,
.icon-bravos,
.icon-lyra,
.icon-muna,
.icon-ordis,
.icon-yzmir {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-axiom {
  background-image: url('/assets/img/faction/AX.webp');
}

.icon-bravos {
  background-image: url('/assets/img/faction/BR.webp');
}

.icon-lyra {
  background-image: url('/assets/img/faction/LY.webp');
}

.icon-muna {
  background-image: url('/assets/img/faction/MU.webp');
}

.icon-ordis {
  background-image: url('/assets/img/faction/OR.webp');
}

.icon-yzmir {
  background-image: url('/assets/img/faction/YZ.webp');
}

.icon-common {
  background-image: url('/assets/img/rarity/COMMON.webp');
}

.icon-rare {
  background-image: url('/assets/img/rarity/RARE.webp');
}

.icon-unique {
  background-image: url('/assets/img/rarity/UNIQUE.webp');
}

button {
  cursor: pointer;
}