header {
  background-color: #1a202c;
  /* Couleur de fond sombre */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Ombre légère */
}

nav ul li a {
  color: white;
  /* Couleur du texte */
  transition: color 0.3s ease;
  /* Transition pour l'effet de survol */
}

nav ul li a:hover {
  color: #90cdf4;
  /* Couleur du texte au survol */
}

footer {
  background-color: #1a202c;
  /* Couleur de fond sombre */
  padding: 1.5rem 0;
  text-align: center;
}

footer img {
  height: 2.5rem;
  /* Taille de l'image */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 8px;
  z-index: 1001;
}

.card-img-modal {
  display: block;
  margin: auto;
  max-width: 90vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* LOADER */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  /* semi-transparent pour effet de flou */
  z-index: 9999;
  /* très haut pour être au-dessus de tout */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  /* bloque les clics */
  overflow: hidden;
}

.loader-overlay body {
  overflow: hidden;
  /* bloque le scroll */
}

.loader {
  width: 64px;
  height: 64px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3f51b5;
  /* couleur du spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 20px rgba(63, 81, 181, 0.6);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* END LOADER */