::ng-deep .ng-select {
  background-color: #1f2937;
  /* gray-800 */
  color: #fff;
  border: 1px solid #f59e0b;
  /* amber-500 */
  border-radius: 0.5rem;
  /* rounded-lg */
}

::ng-deep .ng-select .ng-select-container {
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 0.75rem;
}

::ng-deep .ng-select .ng-dropdown-panel {
  background-color: #374151;
  /* gray-700 */
  color: #fff;
  border-color: #f59e0b;
}

::ng-deep .ng-select .ng-option {
  background-color: #374151;
  color: #fff;
  padding: 2px;
  white-space: normal !important;
  word-break: break-word;
}

::ng-deep .ng-select .ng-option:hover {
  background-color: #f59e0b;
  color: #000;
}