<div class="bg-gray-900 text-white p-6">
  <div class="max-w-7xl mx-auto space-y-12">
    @if (cards && cards.length > 0) {
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-4xl md:text-5xl font-bold text-white">
        Ma Collection ({{ cards.length }})
      </h1>
      <a (click)="importCollection()"
        class="inline-block bg-indigo-600 hover:bg-indigo-500 text-white font-medium py-3 px-6 rounded-2xl shadow-lg transition duration-200 cursor-pointer">
        Recharger ma collection
      </a>
    </div>
    <div class="flex items-center justify-between gap-4">
      <!-- Champ de recherche -->
      <input type="text"
        class="w-full bg-gray-800 text-white placeholder-gray-400 rounded-lg py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Rechercher une carte..." [(ngModel)]="searchQuery" (input)="onSearchChange()" />

      <!-- Menu déroulant -->
      <select
        class="p-2 bg-gray-700 rounded-lg border border-purple-500 focus:ring-2 focus:ring-purple-400 outline-none transition"
        [(ngModel)]="selectedFaction" (change)="onFactionChange()">
        <option value="">-- {{ 'cards.form_faction' | translate }} --</option>
        <option value="AX">Axiom</option>
        <option value="BR">Bravos</option>
        <option value="LY">Lyra</option>
        <option value="MU">Muna</option>
        <option value="OR">Ordis</option>
        <option value="YZ">Yzmir</option>
      </select>
    </div>
    <div class="mt-1">
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
        <div *ngFor="let card of filteredCollection" class="relative">
          <app-card [card]="card.card"></app-card>
        </div>
      </div>
    </div>
    }
    @else {
    <section class="text-gray-100 bg-gray-900 px-6 py-12 md:px-12 lg:px-24">
      <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-4xl md:text-5xl font-bold text-white mb-6">
          Ma Collection
        </h1>
        <p class="text-lg text-gray-300 mb-8">
          Vous devez avoir saisi votre&nbsp;<a routerLink="/token" [queryParams]="{ callback: 'collection' }"
            class="text-indigo-400 font-semibold cursor-pointer">Token
            Altered</a><br />
          Importer votre collection vous permettra de suivre vos cartes (UNIQUE) et de pouvoir échanger avec d'autres
          joueurs en
          utilisant la fonctionnalité&nbsp;<a routerLink="/purchase-offers"
            class="text-indigo-400 font-semibold cursor-pointer">Offres d'achat</a>
        </p>
        <a (click)="importCollection()"
          class="inline-block bg-indigo-600 hover:bg-indigo-500 text-white font-medium py-3 px-6 rounded-2xl shadow-lg transition duration-200 cursor-pointer">
          Commencer l'importation
        </a>
      </div>
    </section>

    }
  </div>
</div>

<div *ngIf="progress$ | async as progress" class="progress-tooltip">
  <p>Progression : {{remainingCards.length + 1}} cartes restantes...</p>
</div>