<div class="w-3xl">
  <div class="bg-gray-800 rounded-2xl shadow-2xl max-w-7xl w-full mx-8 p-8">
    <h2 class="text-2xl font-bold mb-8 text-center w-5xl tracking-wide">Construire un effet</h2>
    <div class="grid grid-cols-1 gap-8">
      <!-- Déclencheur -->
      <div>
        <label class="block mb-2 font-semibold">Déclencheur</label>
        <ng-select [items]="triggers" bindLabel="value" [(ngModel)]="selectedTrigger" [clearable]="true"
          [searchable]="true" dropdownPosition="auto" placeholder="Rechercher un déclencheur..."
          class="bg-gray-800 text-white border-amber-500 rounded-lg">
          <ng-template ng-option-tmp let-item="item">
            <div [innerHTML]="item.value | iconParser:{ skipEmptyBrackets: true }"></div>
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            <div [innerHTML]="item.value | iconParser:{ skipEmptyBrackets: true }"></div>
          </ng-template>
        </ng-select>
      </div>
      <!-- Condition -->
      <div>
        <label class="block mb-2 font-semibold">Condition</label>
        <ng-select [items]="conditions" bindLabel="value" [(ngModel)]="selectedCondition" [clearable]="true"
          [searchable]="true" dropdownPosition="auto" placeholder="Rechercher une condition..."
          class="bg-gray-800 text-white border-amber-500 rounded-lg">
          <ng-template ng-option-tmp let-item="item">
            <div [innerHTML]="item.value | iconParser:{ skipEmptyBrackets: true }"></div>
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            <div [innerHTML]="item.value | iconParser:{ skipEmptyBrackets: true }"></div>
          </ng-template>
        </ng-select>
      </div>
      <!-- Effet -->
      <div>
        <label class="block mb-2 font-semibold">Effet</label>
        <ng-select [items]="effects" bindLabel="value" [(ngModel)]="selectedEffect" [clearable]="true"
          [searchable]="true" dropdownPosition="auto" placeholder="Rechercher un effet..."
          class="bg-gray-800 text-white border-amber-500 rounded-lg">
          <ng-template ng-option-tmp let-item="item">
            <div [innerHTML]="item.value | iconParser:{ skipEmptyBrackets: true }"></div>
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            <div [innerHTML]="item.value | iconParser:{ skipEmptyBrackets: true }"></div>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <!-- Boutons d'action -->
    <div class="flex justify-end mt-10 gap-4">
      <button class="px-6 py-2 rounded bg-amber-500 text-black font-bold hover:bg-amber-400 transition"
        (click)="validate()">Valider</button>
    </div>
  </div>
</div>