<!-- Sidebar -->
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold">Filtres</h2>
    <a (click)="toggleFilters()" class="p-2 rounded-lg hover:bg-gray-600 transition cursor-pointer">
      <i class="fas" [ngClass]="areFiltersOpen ? 'fa-minus' : 'fa-plus'"></i>
    </a>
  </div>

  <div *ngIf="areFiltersOpen">
    <!-- Nom -->
    <div class="mb-4">
      <label class="block mb-1 text-center text-sm font-semibold">Nom ou Référence</label>
      <input type="text" formControlName="name"
        class="w-full p-2 bg-gray-700 rounded-lg border border-amber-500 focus:ring-2 focus:ring-amber-400">
    </div>

    <!-- Rareté -->
    <div class="mb-4">
      <label class="block mb-1 text-center text-sm font-semibold">Rareté</label>
      <div class="grid grid-cols-3 gap-2">
        <a class="flex flex-col items-center justify-center p-1 rounded-lg hover:bg-gray-600 transition cursor-pointer"
          [class.bg-gray-700]="selectedRarity.includes('COMMON')" (click)="toggleRarity('COMMON')">
          <i class="icon-common w-10 h-5"></i>
        </a>
        <a class="flex flex-col items-center justify-content-center p-2 rounded-lg hover:bg-gray-600 transition cursor-pointer"
          [class.bg-gray-700]="selectedRarity.includes('RARE')" (click)="toggleRarity('RARE')">
          <i class="icon-rare w-10 h-5"></i>
        </a>
        <a class="flex flex-col items-center justify-center p-1 rounded-lg hover:bg-gray-600 transition cursor-pointer"
          [class.bg-gray-700]="selectedRarity.includes('UNIQUE')" (click)="toggleRarity('UNIQUE')">
          <i class="icon-unique w-10 h-5"></i>
        </a>
      </div>
    </div>

    <!-- Faction -->
    <div class="mb-4">
      <label class="block mb-1 text-center text-sm font-semibold">Faction</label>
      <div class="grid grid-cols-3 gap-2">
        <a class="flex flex-col items-center justify-center p-1 rounded-lg hover:bg-gray-600 transition cursor-pointer"
          [class.bg-gray-700]="selectedFactions.includes('AX')" (click)="toggleFaction('AX')">
          <i class="icon-axiom w-10 h-10"></i>
        </a>
        <a class="flex flex-col items-center p-2 rounded-lg hover:bg-gray-600 transition cursor-pointer"
          [class.bg-gray-700]="selectedFactions.includes('BR')" (click)="toggleFaction('BR')">
          <i class="icon-bravos w-10 h-10"></i>
        </a>
        <a class="flex flex-col items-center p-1 rounded-lg hover:bg-gray-600 transition cursor-pointer"
          [class.bg-gray-700]="selectedFactions.includes('LY')" (click)="toggleFaction('LY')">
          <i class="icon-lyra w-10 h-10"></i>
        </a>
        <a class="flex flex-col items-center p-1 rounded-lg hover:bg-gray-600 transition cursor-pointer"
          [class.bg-gray-700]="selectedFactions.includes('MU')" (click)="toggleFaction('MU')">
          <i class="icon-muna w-10 h-10"></i>
        </a>
        <a class="flex flex-col items-center p-1 rounded-lg hover:bg-gray-600 transition cursor-pointer"
          [class.bg-gray-700]="selectedFactions.includes('OR')" (click)="toggleFaction('OR')">
          <i class="icon-ordis w-10 h-10"></i>
        </a>
        <a class="flex flex-col items-center p-1 rounded-lg hover:bg-gray-600 transition cursor-pointer"
          [class.bg-gray-700]="selectedFactions.includes('YZ')" (click)="toggleFaction('YZ')">
          <i class="icon-yzmir w-10 h-10"></i>
        </a>
      </div>
    </div>

    <!-- Set -->
    <div class="mb-4">
      <label class="block mb-1 text-center text-sm font-semibold">Set</label>
      <select formControlName="set"
        class="w-full p-2 bg-gray-700 rounded-lg border border-amber-500 focus:ring-2 focus:ring-amber-400">
        <option value="">-- Set --</option>
        <option value="BISE">Bise</option>
        <option value="ALIZE">Alizé</option>
        <option value="CORE">Core</option>
        <option value="COREKS">Core KS</option>
      </select>
    </div>

    <div class="grid grid-cols-2 gap-2 mb-4">
      <div class="flex flex-col items-center justify-center">
        <label class="block mb-1 text-sm font-semibold">{{ 'cards.form_main_cost' | translate
          }}</label>
        <input formControlName="main_cost_range" type="text" placeholder="1-10"
          class="w-full text-center p-2 bg-gray-700 rounded-lg border border-amber-500 focus:ring-2 focus:ring-amber-400" />
      </div>
      <div class="flex flex-col items-center justify-center">
        <label class="block mb-1 text-sm font-semibold">{{ 'cards.form_recall_cost' | translate
          }}</label>
        <input formControlName="recall_cost_range" type="text" placeholder="1-10"
          class="w-full text-center p-2 bg-gray-700 rounded-lg border border-amber-500 focus:ring-2 focus:ring-amber-400" />
      </div>
    </div>

    <div class="grid grid-cols-3 gap-2 mb-4">
      <div class="flex flex-col items-center justify-center">
        <label class="block mb-1 text-sm font-semibold">{{ 'cards.form_forest_power' | translate
          }}</label>
        <input formControlName="forest_power_range" type="text" placeholder="0-10"
          class="w-full text-center p-2 bg-gray-700 rounded-lg border border-green-500 focus:ring-2 focus:ring-green-400" />
      </div>
      <div class="flex flex-col items-center justify-center">
        <label class="block mb-1 text-sm font-semibold">{{ 'cards.form_mountain_power' | translate
          }}</label>
        <input formControlName="mountain_power_range" type="text" placeholder="0-10"
          class="w-full text-center p-2 bg-gray-700 rounded-lg border border-red-500 focus:ring-2 focus:ring-red-400" />
      </div>
      <div class="flex flex-col items-center justify-center">
        <label class="block mb-1 text-sm font-semibold">{{ 'cards.form_ocean_power' | translate
          }}</label>
        <input formControlName="ocean_power_range" type="text" placeholder="0-10"
          class="w-full text-center p-2 bg-gray-700 rounded-lg border border-blue-500 focus:ring-2 focus:ring-blue-400" />
      </div>
    </div>
  </div>

  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold">Effets</h2>
    <a (click)="toggleEffects()" class="p-2 rounded-lg hover:bg-gray-600 transition cursor-pointer">
      <i class="fas" [ngClass]="areEffectsOpen ? 'fa-minus' : 'fa-plus'"></i>
    </a>
  </div>

  <div *ngIf="areEffectsOpen">
    <div class="mb-4">
      <label class="block mb-1 text-sm font-semibold">Effet contient</label>
      <input type="text" formControlName="main_effect"
        class="w-full p-2 bg-gray-700 rounded-lg border border-amber-500 focus:ring-2 focus:ring-amber-400">
    </div>
    <div class="mb-4">
      <label class="block mb-1 text-sm font-semibold">Et effet contient</label>
      <input type="text" formControlName="main_effect_2"
        class="w-full p-2 bg-gray-700 rounded-lg border border-amber-500 focus:ring-2 focus:ring-amber-400">
    </div>
    <div class="mb-4">
      <label class="block mb-1 text-sm font-semibold">Exclure</label>
      <input type="text" formControlName="exclude_effect"
        class="w-full p-2 bg-gray-700 rounded-lg border border-amber-500 focus:ring-2 focus:ring-amber-400">
    </div>
    <div class="mb-4">
      <label class="block mb-1 text-sm font-semibold">Effet echo contient</label>
      <input type="text" formControlName="echo_effect"
        class="w-full p-2 bg-gray-700 rounded-lg border border-amber-500 focus:ring-2 focus:ring-amber-400">
    </div>
  </div>

  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold">Offres</h2>
    <a (click)="toggleOffers()" class="p-2 rounded-lg hover:bg-gray-600 transition cursor-pointer">
      <i class="fas" [ngClass]="areOffersOpen ? 'fa-minus' : 'fa-plus'"></i>
    </a>
  </div>

  <div *ngIf="areOffersOpen">
    <div class="mb-4">
      <label class="block mb-1 text-center text-sm font-semibold">Prix</label>
      <input type="number" formControlName="price_range" placeholder="1-250"
        class="w-full text-center p-2 bg-gray-700 rounded-lg border border-amber-500 focus:ring-2 focus:ring-amber-400">
    </div>
    <div class="mb-2 flex items-center">
      <input type="checkbox" class="form-checkbox bg-gray-600 text-amber-500 rounded">
      <span class="ml-2 text-sm">Offres disponibles</span>
    </div>
  </div>

  <div class="mt-8 text-center">
    <button type="submit" [disabled]="!isFormValid()" [ngClass]="{
        'bg-gray-500 cursor-not-allowed': !isFormValid(),
        'bg-gradient-to-r from-amber-600 to-gray-500 hover:from-amber-700 hover:to-gray-600': isFormValid()
      }" class="w-full py-3 text-white font-semibold rounded-lg shadow-lg transition cursor-pointer">
      {{ 'cards.form_search' | translate }}
    </button>
  </div>

</form>