<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="bg-gray-800 p-4 rounded-lg shadow-lg mb-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div>
      <label for="name" class="block text-sm font-medium text-gray-300">Nom ou référence (ALT_)</label>
      <input type="text" id="name" formControlName="name"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="rarity" class="block text-sm font-medium text-gray-300">Rarity</label>
      <select id="rarity" formControlName="rarity"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
        <option value="">-- Select Rarity --</option>
        <option value="COMMON">COMMON</option>
        <option value="RARE">RARE</option>
        <option value="UNIQUE">UNIQUE</option>
      </select>
    </div>
    <div>
      <label for="faction" class="block text-sm font-medium text-gray-300">Faction</label>
      <select id="faction" formControlName="faction"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
        <option value="">-- Select Faction --</option>
        <option value="AX">Axiom</option>
        <option value="BR">Bravos</option>
        <option value="LY">Lyra</option>
        <option value="MU">Muna</option>
        <option value="OR">Ordis</option>
        <option value="YZ">Yzmir</option>
      </select>
    </div>
    <div>
      <label for="set" class="block text-sm font-medium text-gray-300">Set</label>
      <select id="set" formControlName="set"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
        <option value="">-- Select Set --</option>
        <option value="BISE">Murmures du labyrinthe</option>
        <option value="ALIZE">Epreuve du froid</option>
        <option value="CORE">Au-dela des portes</option>
        <option value="COREKS">Au-dela des portes - KS</option>
      </select>
    </div>
    <div>
      <label for="main_effect" class="block text-sm font-medium text-gray-300">Main Effect</label>
      <input type="text" id="main_effect" formControlName="main_effect"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="main_effect_2" class="block text-sm font-medium text-gray-300">et Main Effect 2</label>
      <input type="text" id="main_effect_2" formControlName="main_effect_2"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="echo_effect" class="block text-sm font-medium text-gray-300">Echo Effect</label>
      <input type="text" id="echo_effect" formControlName="echo_effect"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="main_cost" class="block text-sm font-medium text-gray-300">Main Cost</label>
      <input type="number" id="main_cost" formControlName="main_cost"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="recall_cost" class="block text-sm font-medium text-gray-300">Recall Cost</label>
      <input type="number" id="recall_cost" formControlName="recall_cost"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="forest_power" class="block text-sm font-medium text-gray-300">Forest Power</label>
      <input type="number" id="forest_power" formControlName="forest_power"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="mountain_power" class="block text-sm font-medium text-gray-300">Mountain Power</label>
      <input type="number" id="mountain_power" formControlName="mountain_power"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div>
      <label for="ocean_power" class="block text-sm font-medium text-gray-300">Ocean Power</label>
      <input type="number" id="ocean_power" formControlName="ocean_power"
        class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm p-2 text-white">
    </div>
    <div class="flex items-center justify-center h-full space-x-4">
      <label for="no_condition" class="inline-flex items-center text-sm font-medium text-gray-300"
        style="user-select: none;">
        <input type="checkbox" id="no_condition" formControlName="no_condition"
          class="h-4 w-4 text-blue-600 bg-gray-700 border-gray-600 rounded focus:ring-blue-500 focus:ring-offset-gray-800">
        <span class="ml-2">No Condition</span>
      </label>
      <label for="in_market" class="inline-flex items-center text-sm font-medium text-gray-300"
        style="user-select: none;">
        <input type="checkbox" id="in_market" formControlName="in_market"
          class="h-4 w-4 text-blue-600 bg-gray-700 border-gray-600 rounded focus:ring-blue-500 focus:ring-offset-gray-800">
        <span class="ml-2">Db Market</span>
      </label>
      <label for="search_offers" class="inline-flex items-center text-sm font-medium text-gray-300"
        style="user-select: none;">
        <input type="checkbox" id="search_offers" formControlName="search_offers"
          class="h-4 w-4 text-blue-600 bg-gray-700 border-gray-600 rounded focus:ring-blue-500 focus:ring-offset-gray-800">
        <span class="ml-2">Live Market</span>
      </label>
      <label for="remove_no_price" class="inline-flex items-center text-sm font-medium text-gray-300"
        style="user-select: none;">
        <input type="checkbox" id="remove_no_price" formControlName="remove_no_price"
          class="h-4 w-4 text-blue-600 bg-gray-700 border-gray-600 rounded focus:ring-blue-500 focus:ring-offset-gray-800">
        <span class="ml-2">Masquer cartes sans prix</span>
      </label>
    </div>
    <div class="flex space-x-4 mt-4">
      <button type="submit" [disabled]="!isFormValid()"
        [ngClass]="{'bg-gray-500 cursor-not-allowed': !isFormValid(), 'bg-blue-600 hover:bg-blue-700': isFormValid()}"
        class="md:col-span-3 w-full text-white py-2 px-4 rounded-md transition duration-300">Rechercher</button>
      <!-- <button (click)="onSubmit(true); $event.preventDefault()" [disabled]="!isFormValid()"
        [ngClass]="{'bg-gray-500 cursor-not-allowed': !isFormValid(), 'bg-green-600 hover:bg-green-700': isFormValid()}"
        class="md:col-span-3 w-full text-white py-2 px-4 rounded-md transition duration-300">Rechercher Full Live
        Market (si jeu de resultat <= {{ fullSearchLiveMarketLimit }})</button> -->
    </div>
  </div>
</form>