<meta name="robots" content="noindex">
<div class="py-20 flex items-center justify-center bg-gray-900">
  <div class="bg-gray-800 text-white rounded-lg shadow-lg p-8 w-full max-w-md">
    <h2 class="text-2xl font-bold text-center mb-6">Rejoindre le serveur Discord</h2>
    <a href="https://discord.gg/rrEsj3KApN" target="_blank" rel="noopener"
      class="block w-full mt-8 bg-indigo-600 hover:bg-indigo-500 text-white text-xl font-bold py-4 rounded-lg text-center shadow-lg transition">
      <i class="fab fa-discord mr-2"></i>
      Rejoindre le serveur Discord
    </a>
  </div>
</div>