requests==2.32.3
aiohttp==3.11.18
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
flask-cors==5.0.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
marshmallow==4.0.0
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.7.1
sib_api_v3_sdk==7.6.0
Flask-SocketIO==5.5.1
eventlet==0.40.0
Flask-Limiter==3.12
redis==6.1.0
gunicorn==23.0.0
pytz==2025.2
APScheduler==3.11.0